@page "/login"

@using CNXDevTravel.Core
@inject IJSRuntime JSRuntime
@inject CNXDevTravelHttpClient CNXDevTravelHttpClient
<style>
    .centered {
        height: 100%;
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
    }

        .centered .page {
            position: absolute;
            width: 420px;
            height: fit-content;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            padding: 20px;
            border-radius: 6px;
            background: rgba(256, 256, 256, 0.9);
        }

    body {
        background-image: url(/img/bg2.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    .input-icons i {
        position: absolute;
    }

    .input-icons {
        width: 100%;
        margin-bottom: 10px;
    }

    .icon {
        padding: 10px;
        min-width: 40px;
        color: #7a7a7a;
    }

    .input-field {
        width: 100%;
        padding: 10px;
        padding-left: 36px;
    }

    .error {
        color: red;
    }
</style>

<body>
    <div class="centered">
        <div class="page">
            <img src="/img/MFEC.png" style="width: 35%" />
            <h3 class="my-2">ลงชื่อเข้าใช้</h3>

            <p class="error">@Message</p>

            <form id="loginform" action="/account/login" method="post" @onsubmit="Authen">
                <div class="input-icons">
                    <i class="fa fa-envelope icon"></i>
                    <input @bind="@Username" name="username" type="text" class="form-control my-3 input-field" placeholder="Username" />
                </div>

                <div class="input-icons">
                    <i class="fas fa-lock icon"></i>
                    <input @bind="@Password" name="password" type="password" class="form-control my-3 input-field" placeholder="Password" />
                </div>
                <input id="name" name="name" type="hidden" />
                <input id="role" name="role" type="hidden" />
                <input id="department" name="department" type="hidden" />
                <input id="profileimageurl" name="profileimageurl" type="hidden" />
                <input id="token" name="token" type="hidden" />

                <button class="ml-md-auto btn btn-primary" style="width: 100%" type="submit" target="_top">เข้าสู่ระบบ</button>
            </form>
        </div>
    </div>
</body>

<CascadingValue Value="@isLoading">
    <Loading />
</CascadingValue>

@code
{
    string Username { get; set; }
    string Password { get; set; }
    public string Message { get; set; }
    bool isLoading { get; set; }

    public async Task Authen()
    {
        if (string.IsNullOrEmpty(Username) || string.IsNullOrEmpty(Password))
        {
            Message = "Please enter your credential";
            return;
        }

        isLoading = true;
        var authenResult = await ServiceFactory.Account().AuthenAsync(Username, Password);

        if (authenResult != null)
        {
            if (authenResult.Status == Model.ResponseStatus.Success && authenResult.Data != null)
            {
                await JSRuntime.InvokeAsync<object>("SubmitForm", "loginform",
                    authenResult.Data.Name,
                    authenResult.Data.Role,
                    authenResult.Data.Department,
                    authenResult.Data.ProfileImage,
                    authenResult.Data.Token);
                isLoading = false;
            }
            else
            {
                Message = authenResult.Description;
                isLoading = false;
                return;
            }
        }
        else
        {
            Message = "Authentication Fail";
            isLoading = false;
            return;
        }
    }
}

